resources/odd/teipublisher.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>TEI Publisher ODD
                    ,
                </title><title type="short">TEI Publisher Base</title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Default customization generated by <ref target="http://tei-publisher.com">TEI
                        Publisher</ref>, extending tei_simplePrint.odd.</p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl/></encodingDesc><revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="teipublisher" source="tei_simplePrint.odd">
                <elementSpec ident="text" mode="change"><model behaviour="body"/></elementSpec>
                <elementSpec ident="figure" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            width: 100%; display: block;
            </outputRendition>
        </model><model predicate="head or @rendition='simple:display'" behaviour="block"/><model behaviour="inline"/></elementSpec>
                <elementSpec ident="head" mode="change"><model predicate="@type=&#34;main&#34;" behaviour="heading">
            <param name="level" value="1"/>
            <outputRendition xml:space="preserve">
            font-size: 32px; font-weight: normal !important; margin-bottom: 32px;
            </outputRendition>
        </model><model behaviour="heading">
            <param name="level" value="3"/>
            <outputRendition xml:space="preserve">
            font-family: 'ff-scala-sans';
            </outputRendition>
        </model><model predicate="ancestor::div[@type=&#34;intro&#34;]" behaviour="heading">
            <param name="level" value="3"/>
        </model><model predicate="contains(@xml:id, 'title_2')" behaviour="omit"/><model predicate="contains(@xml:id, 'title_3')" behaviour="omit"/><model predicate="contains(@xml:id, 'notes')" behaviour="block"/><model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model><model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model><model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model><model behaviour="block"/></elementSpec>
                <elementSpec ident="teiHeader" mode="change"><modelSequence output="web" predicate="$parameters?header='short2'">
            <model behaviour="block">
                <param name="content" value=".//msIdentifier/idno[@type=&#34;nro&#34;]"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'ID: '; font-weight: bold;
                </outputRendition>
                <outputRendition xml:space="preserve">
                font-size: 16px;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value=".//particDesc/person/persName[@type=&#34;standardized&#34;]"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'Kerääjä: '; font-weight: bold;
                </outputRendition>
                <outputRendition xml:space="preserve">
                font-size: 16px;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value=".//setting/placeName/region"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'Keräysalue (normalisoitu): '; font-weight: bold;
                </outputRendition>
                <outputRendition xml:space="preserve">
                font-size: 16px;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value=".//setting/placeName/settlement[@type=&#34;standardized_municipality&#34;]"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'Keräyspaikka (normalisoitu): '; font-weight: bold;
                </outputRendition>
                <outputRendition xml:space="preserve">
                font-size: 16px;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value=".//setting/date[@type=&#34;standardized&#34;]"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'Keräysvuosi: '; font-weight: bold;
                </outputRendition>
                <outputRendition xml:space="preserve">
                font-size: 16px;
                </outputRendition>
            </model>
        </modelSequence><model output="latex" behaviour="metadata"/><model output="fo" behaviour="omit"/><model output="web" predicate="$parameters?header='short'" behaviour="block"/><model output="web" behaviour="metadata"/></elementSpec>
                <elementSpec ident="fileDesc" mode="change"><modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="titleStmt"/>
            </model>
        </modelSequence><model behaviour="title">
            <param name="content" value="titleStmt"/>
        </model></elementSpec>
                <elementSpec ident="titleStmt" mode="add"><model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model><model output="fo" behaviour="heading"/><model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <param name="level" value="5"/>
        </model><modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="inline">
                <param name="content" value="let $collection := ./ancestor::teiHeader//collection return if ($collection) then concat('SKVR', ' ', $collection) else 'JR'"/>
            </model>
            <model behaviour="webcomponent">
                <param name="path" value="$parameters?doc"/>
                <param name="content" value="./ancestor::teiHeader//idno[@type=&#34;id&#34;]"/>
                <param name="name" value="'pb-link'"/>
                <param name="emit" value="'poem'"/>
                <outputRendition xml:space="preserve">
                display: inline; width: 50px !important; font-weight: 800 !important; color: #E22717; font-size: 120%;
                </outputRendition>
            </model>
            <model behaviour="inline">
                <param name="content" value="./ancestor::teiHeader//settingDesc//settlement[@type=&#34;standardized_municipality&#34;]"/>
            </model>
            <model behaviour="inline">
                <param name="content" value="./ancestor::teiHeader//profileDesc//persName[@type=&#34;standardized&#34;]"/>
            </model>
            <model behaviour="inline">
                <param name="content" value="./ancestor::teiHeader//idno[@type=&#34;sgn&#34;]"/>
                <outputRendition xml:space="preserve">
                margin-right: 4rem !important;
                </outputRendition>
            </model>
            <model behaviour="inline">
                <param name="content" value="./ancestor::teiHeader//profileDesc/settingDesc//date[@type=&#34;standardized&#34;]"/>
                <outputRendition xml:space="preserve">
                display: inline;
                </outputRendition>
            </model>
        </modelSequence><model output="web" behaviour="block"/></elementSpec>
                <elementSpec ident="publicationStmt" mode="add"><model output="web" behaviour="block">
            <param name="content" value="availability/licence"/>
        </model><model behaviour="omit"/></elementSpec>
                <elementSpec ident="licence" mode="add"><model output="web" predicate="@target" behaviour="link" cssClass="licence">
            <param name="content" value="'Licence'"/>
            <param name="uri" value="@target"/>
        </model><model behaviour="omit"/></elementSpec>
                <elementSpec ident="title" mode="change"><model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="4"/>
            <param name="content" value="let $id := ./ancestor::teiHeader//idno[@type=&#34;id&#34;] return if (contains($id, '.')) then concat('SKVR ',./ancestor::teiHeader//collection, ' ', ./ancestor::teiHeader//idno[@type=&#34;id&#34;]) else concat('JR ',./ancestor::teiHeader//collection, ' ', ./ancestor::teiHeader//idno[@type=&#34;id&#34;])"/>
            <outputRendition xml:space="preserve" scope="before">
            
            </outputRendition>
        </model><model predicate="$parameters?header='short2'" behaviour="inline">
            <param name="level" value="4"/>
            <param name="content" value="concat(./ancestor::teiHeader//setting//settlement[@type=&#34;non_standardized&#34;], ' ', .)"/>
        </model><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence><model predicate="not(@level) and parent::bibl" behaviour="inline"/><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="author" mode="change"><model predicate="ancestor::teiHeader" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content: 'By ';
            </outputRendition>
        </model><model behaviour="inline"/></elementSpec>
                <elementSpec ident="edition" mode="change"><model predicate="ancestor::teiHeader" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content: 'Edition: ';
            </outputRendition>
        </model></elementSpec>
            <elementSpec ident="ref" mode="change"><model predicate="ancestor::div[@type=&#34;chapter&#34;]" behaviour="link">
            <param name="uri" value="@target"/>
            <outputRendition xml:space="preserve">
            color: #000; font-weight: bold;
            </outputRendition>
        </model><model predicate="ancestor::div[@type=&#34;intro&#34;]" behaviour="link">
            <param name="uri" value="@target"/>
            <outputRendition xml:space="preserve">
            color: #000; font-weight: 500;
            </outputRendition>
        </model><model predicate="not(@target)" behaviour="inline"/><model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model><model behaviour="link">
            <param name="uri" value="@target"/>
        </model></elementSpec>
            <elementSpec ident="note" mode="change"><model output="web" predicate="@target" behaviour="note" cssClass="fn">
            <param name="label" value="."/>
            <param name="content" value="let $n := substring-after(@target, '#') return ./ancestor::TEI//div[@type='references']//note[@xml:id=$n]/node()"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            color: #E22717 !important; font-size: 80% !important; vertical-align: baseline !important;
position: relative !important; top: -0.4em !important;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model output="web" predicate="ancestor::teiHeader" behaviour="note">
            <param name="label" value="."/>
            <param name="content" value="let $n := substring-after(@target, '#') return ./ancestor::TEI//div[@type='references']//note[@xml:id=$n]/node()"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            color: #E22717 !important; font-size: 80% !important; vertical-align: baseline !important;
position: relative !important; top: -0.4em !important;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model predicate="parent::div[@type=&#34;references&#34;]" behaviour="block"/></elementSpec>
            <elementSpec ident="notatedMusic" mode="add"><model behaviour="figure">
            <param name="title" value="label"/>
            <param name="content" value="ptr"/>
        </model></elementSpec>
                <elementSpec ident="ptr" mode="add"><model predicate="parent::notatedMusic" behaviour="pass-through">
            <param name="url" value="@target"/>
            <pb:template xmlns="" xml:space="preserve"><pb-mei url="[[url]]" player="player">
  <pb-option name="appXPath" on="./rdg[contains(@label, 'original')]" off="">Original Clefs</pb-option>
</pb-mei></pb:template>
        </model></elementSpec>
            <elementSpec ident="formula" mode="change"><model predicate="@rendition='simple:display'" behaviour="block"/><model output="latex" predicate="@rend=&#34;display&#34;" behaviour="inline">
            <param name="content" value="string()"/>
            <pb:template xmlns="" xml:space="preserve">\begin{equation}[[content]]\end{equation}</pb:template>
        </model><model output="latex" behaviour="inline">
            <param name="content" value="string()"/>
            <pb:template xmlns="" xml:space="preserve">\begin{math}[[content]]\end{math}</pb:template>
        </model><model predicate="@rend='display'" behaviour="webcomponent">
            <param name="name" value="'pb-formula'"/>
            <param name="display" value="true()"/>
        </model><model behaviour="webcomponent">
            <param name="name" value="'pb-formula'"/>
        </model></elementSpec>
            <elementSpec ident="hi" mode="change"><model predicate="@rend=&#34;H&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            letter-spacing: 2px;
            </outputRendition>
        </model><model predicate="@rend=&#34;VNSUP&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            vertical-align: baseline !important;
position: relative !important; top: -0.4em !important; font-weight: bold; font-size: 110%; margin-right: 3px;
            
            </outputRendition>
        </model><model predicate="@rend=&#34;italics&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic !important;
            </outputRendition>
        </model><model predicate="@rend=&#34;italics bold&#34; or @rend=&#34;i b&#34; or @rend=&#34;bold italics&#34; or @rend=&#34;b i&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold; font-style: italic;
            </outputRendition>
        </model><model predicate="@rend=&#34;b&#34; or @rend=&#34;bold&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model><model predicate="@rend=&#34;KA&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold; font-style: normal;
            </outputRendition>
        </model><model predicate="@rend=&#34;I&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic; margin-right: 3px;
            </outputRendition>
        </model><model predicate="@rend=&#34;SUP&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            vertical-align: baseline;
position: relative;
top: -0.4em;
font-size: 85%;
            
            </outputRendition>
        </model><model predicate="@rend=&#34;SUB&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            vertical-align: baseline;
position: relative;
bottom: -0.4em;
font-size: 85%;
            
            </outputRendition>
        </model><model predicate="@rendition" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="not(@rendition)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="l" mode="change"><model predicate="@rend=&#34;CPT&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-size: 120%; margin-bottom: 1em;
            </outputRendition>
        </model><model predicate="ancestor::div[@type=&#34;chapter&#34;]" behaviour="block"/><model predicate="@rend=&#34;L&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-size: 85% !important;
            </outputRendition>
        </model><model predicate="@rend=&#34;K&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-size: 85% !important; font-style: italic !important;
            </outputRendition>
        </model><model predicate="@rend=&#34;TYHI&#34;" behaviour="block">
            <param name="content" value="&#34;tyhjä&#34;"/>
            <outputRendition xml:space="preserve">
            visibility: hidden;
            </outputRendition>
        </model><model behaviour="block"/><model behaviour="block" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            margin-left: 1em;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="catRef" mode="add"><model output="web" behaviour="link">
            <param name="content" value="let $id := substring-after(@target, '#')  return concat('-', doc('/db/apps/skvr/data/taksonomiataulu.xml')//category[@xml:id=$id]/catDesc[1])"/>
            <param name="uri" value="let $id := substring-after(@target, '#')  let $phrase := doc('/db/apps/skvr/data/taksonomiataulu.xml')//category[@xml:id=$id]/catDesc[1] return concat('/exist/apps/skvr/haku.html?query=&#34;', $phrase, '&#34;&amp;amp;coll=main&amp;amp;field=themes')"/>
            <param name="target" value="&#34;_blank&#34;"/>
            <outputRendition xml:space="preserve">
            font-size: 16px; margin-left: 0px; font-weight: 500; display: block; color: #000; text-decoration: none;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="textClass" mode="add"><model behaviour="list">
            <param name="content" value="child::*"/>
            <outputRendition xml:space="preserve">
            margin-left: 15px; padding-left: 0px;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="catDesc" mode="add"/>
                <elementSpec ident="category" mode="add"/>
                <elementSpec ident="taxonomy" mode="add"/>
                <elementSpec ident="div" mode="change"><model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model><model predicate="@type=&#34;intro&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-family: 'ff-scala-sans';
            </outputRendition>
        </model><model predicate="parent::body or parent::front or parent::back" behaviour="section"/><model behaviour="block"/></elementSpec>
                <elementSpec ident="p" mode="change"><model predicate="parent::div[@type=&#34;chapter&#34;]" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            text-align: left; font-size: 15px; margin-bottom: 15px;
            </outputRendition>
        </model><model predicate="ancestor::list[@type=&#34;pair&#34;]" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            width: 100%; display: flex; flex-direction: row; justify-content: space-between;
            </outputRendition>
        </model><model predicate="ancestor::div[@xml:id=&#34;runoluettelo&#34;] and contains(@xml:id, 'title_3')" behaviour="omit"/><model predicate="ancestor::div[@xml:id=&#34;runoluettelo&#34;] and contains(@xml:id, 'title_2')" behaviour="omit"/><model predicate="ancestor::div[@type=&#34;intro&#34;]" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            text-align: left;
            </outputRendition>
        </model><model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="pb" mode="change"><model behaviour="omit" useSourceRendition="true">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: '[Page ';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: ']';
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="fw" mode="change"><model predicate="@type=&#34;chapter&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-size: 15px; font-weight: bold; margin-bottom: 15px;
            </outputRendition>
        </model><model predicate="@type=&#34;sources&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-size: 15px; font-weight: bold; margin-bottom: 15px;
            </outputRendition>
        </model><model predicate="@type=&#34;authors&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic; margin-top: -15px; margin-bottom: 2em;
            </outputRendition>
        </model><model predicate="@type=&#34;insert&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic; font-size: 15px;
            </outputRendition>
        </model><model predicate="ancestor::p or ancestor::ab" behaviour="inline"/><model behaviour="block"/></elementSpec>
                <elementSpec ident="emph" mode="add"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="list" mode="change"><model predicate="@type=&#34;numbered&#34;" behaviour="list" useSourceRendition="true">
            <param name="content" value="item"/>
            <outputRendition xml:space="preserve">
            list-style-type: none !important;
            </outputRendition>
        </model><model predicate="not(@rendition)" behaviour="list">
            <param name="content" value="item"/>
            <outputRendition xml:space="preserve">
            list-style-type="none";
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="table" mode="change"><model predicate="@type=&#34;contents&#34;" behaviour="table">
            <outputRendition xml:space="preserve">
            background-color: #FFF; width: 98%
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="row" mode="change"><model predicate="@role='label'" behaviour="row">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model><model behaviour="row">
            <desc>Insert table row. </desc>
        </model></elementSpec>
                <elementSpec ident="cell" mode="change"><model predicate="parent::row[@rend=&#34;heading&#34;]" behaviour="cell">
            <outputRendition xml:space="preserve">
            padding-top: 0.5em; padding-bottom: 0.5em;
            </outputRendition>
        </model><model behaviour="cell">
            <desc>Insert table cell. </desc>
        </model></elementSpec>
                <elementSpec ident="body" mode="change"><modelSequence>
            <model behaviour="index">
                <param name="type" value="'toc'"/>
            </model>
            <model behaviour="block"/>
        </modelSequence></elementSpec>
                <elementSpec ident="graphic" mode="change"><model predicate="parent::figure[@type=&#34;standard&#34;]" behaviour="graphic">
            <param name="url" value="@url"/>
            <outputRendition xml:space="preserve">
            width: 98%; height: auto; display: block;
            </outputRendition>
        </model><model predicate="ancestor::figure[@type=&#34;pair&#34;]" behaviour="graphic">
            <param name="url" value="@url"/>
            <outputRendition xml:space="preserve">
            width: 48%; height: auto;
            </outputRendition>
        </model><model predicate="parent::figure[@type=&#34;standard2&#34;]" behaviour="graphic">
            <param name="url" value="@url"/>
            <outputRendition xml:space="preserve">
            width: 50%; height: auto;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="figDesc" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            font-family: 'ff-scala-sans'; font-size: 90%; display: block;
            </outputRendition>
        </model></elementSpec>
            <elementSpec ident="idno" mode="add"><model predicate="@type=&#34;URN&#34;" behaviour="link">
            <param name="uri" value="concat('http://urn.fi/', .)"/>
            <param name="content" value="concat('http://urn.fi/', .)"/>
            <outputRendition xml:space="preserve">
            color: #000;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="profileDesc" mode="change"><model behaviour="omit">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>
            </schemaSpec>
        </body>
    </text></TEI>